*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.img5k{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 12px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
    width:300px;
    padding:20px;
    margin:10px 50px 50px 30px;
    box-shadow: #000000 0px 0px 8px -4px;
    background-color: #ffff;
}

.container .card::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid rgb(48, 63, 159);
    border-right: 20px solid rgb(48, 63, 159);
}

.container .card .icon img{
    max-width:90px;
    overflow: hidden;
}

.container .card .content{
    position: relative;
    height:215px;
    overflow:hidden;
}
.container .card .content::before{
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height:100px;
    background :linear-gradient(transparent,#f3f2f2)
}
.container .card .content h3{
   font-size: 1.4em;
   font-weight: 600;
   margin-bottom: 10px;
}

.container .card .content p{
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 10px;
 }

 .container .card .more{
     position: relative;
     padding:10px 15px;
     background: rgb(76, 89, 172);
     margin-top: 15px;
     display:inline-block;
     text-transform: uppercase;
     font-weight:300;
     letter-spacing:2px;
     font-size: 14px;
 }

 .container .card .more::before{
    content: "Read More";
    color: #ffffff;
}

.container .card.active .more{
    background-color: #ff3b7e;
}
.container .card.active::before{
    border-top: 20px solid #ff3b7e;
    border-right: 20px solid #ff3b7e;
}
.container .card.active .more::before{
    content: "Read Less";
    color: #ffffff;
}

.container .card.active .content{
    height:auto;

}
.container .card.active .content::before{
  display:none
}

